---
layout: default
---
<h5> Hello</h5>
<p>I'm a recent graduate that studied BSc. (Hons) Games Design and Development with a keen interest in game development. 
   Good knowledge of Unity 3D, HTML, CSS. Successfully launched two games on the Google play store.</p>
<p> I can be contacted via email </p>
<a href="mailto:conorholmesdev@gmail.com" target="_top">My Email</a>
<p> My portfolio:</p>
<a href="http://conorholmes.com/portfolio/">My portfolio</a>
<p>My Github account: .</p>
<a href="https://github.com/conorH22?tab=repositories">My Github page</a>
<p>Google play developer account:</p> 
<a href="https://play.google.com/store/apps/developer?id=ConorH&amp;hl=en">My Google play page</a>


   


